<div class="sidebar" ng-class="{'open': sidebarOpen == true}">

  <a href="/">
    <img src="assets/images/logo.png" class="logo" alt=""/>
  </a>

  <div class="globe" ng-click="changeCountry('all')">
    <img src="assets/images/globe.png" alt=""/>
  </div>

  <ul class="continents">
    <li class="continent col-sm-6">
      <img src="assets/images/europe.png" alt=""/>
    </li>
    <li class="continent col-sm-6">
      <img src="assets/images/northamerica.png" alt=""/>
    </li>
    <li class="continent col-sm-6">
      <img src="assets/images/asia.png" alt=""/>
    </li>
    <li class="continent col-sm-6">
      <img src="assets/images/africa.png" alt=""/>
    </li>
    <li class="continent col-sm-6">
      <img src="assets/images/australia.png" alt=""/>
    </li>
    <li class="continent col-sm-6">
      <img src="assets/images/southamerica.png" alt=""/>
    </li>
  </ul>

	<ul class="countries">
		<li>
			<span class="dropdown-title">
				Choose country
			</span>
			<ul>
				<li ng-click="changeCountry('all')">ALL</li>
				<li ng-repeat="feed in feeds | unique:'country'" ng-click="changeCountry(feed.country)">{{feed.country}}</li>
			</ul>
		</li>
	</ul>

</div>

<div  item-selector=".card">
  <div ng-repeat="feed in feeds">
    <div reload-on-show class="card" ng-class="feed.country" ng-repeat="entry in feed.entries" ng-show="currentCountry == feed.country || currentCountry == 'all'">
        <div news-source site-url="entry.link" class="image"></div>
    		<div class="detail">
          <a href="{{entry.link}}" target="_blank">{{entry.title}}</a>
          <div class="score">
            <div class="tw">
              2039
            </div>
            <div class="fb">
              918
            </div>
          </div>
    		</div>
    		{{entry.rank}}
  	</div>
  </div>
</div >
