.card{
	.detail{
		position: absolute;
		display: none;
		top: 0;
		left: 80%;
		padding: 10px;
		background: rgba(255,255,255,1);
		font-weight: bold;
		font-size: 1.4em;
		width: 300px;
		top: 0;
		z-index: 9999;
		word-wrap: break-word;
		box-shadow: 0 0 30px rgba(0,0,0,0.6);
		&:before{
			content: "";
			width: 0;
			height: 0;
			left: -14px;
			top: 40px;
			position: absolute;
			border-style: solid;
			border-width: 15px 20px 15px 0;
			border-color: transparent #ffffff transparent transparent;
		}
	}
	&:hover{
		.detail{
			display: block;
			z-index: 9999;
		}
	}
}