
.card{
	//border: 1px solid white;
	float: left;
	cursor: pointer;
	display: block;
	position: relative;

  width: 150px;
  height: 150px;
  position: relative;
  display: block;

	.image{
		background-size: cover;
		background-color: #3E062D;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	.score{
		display: block;
		margin-bottom: 20px;
		.tw{
			background: url(../assets/images/twitterlogo_rond.png) no-repeat left center;
			font-size: 12px;
			display: inline-block;
			padding-left: 26px;
			background-size: 45%;
			height: 24px;
			vertical-align: middle;
			display: table-cell;
			color: #000000;
			position: relative;
			top: 12px;
		}
		.fb{
			background: url(../assets/images/fblogo_rond.png) no-repeat left center;
			font-size: 12px;
			display: inline-block;
			padding-left: 22px;
			background-size: 45%;
			height: 24px;
			vertical-align: middle;
			display: table-cell;
			color: #000000;
			position: relative;
			top: 12px;
			left: 10px;
		}

	}
	width: 150px;
  height: 150px;
}