$site-main-color: #3E062D;

@import "fonts";
@import "card";

body{
	font-family: 'Open Sans', sans-serif;
  color: $site-main-color;
  background: $site-main-color;
}

a,
a:hover,
a:active,
a:visited {
  color: $site-main-color;
  text-decoration: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.sidebar {
  position: fixed;
  right: -250px;
  width: 250px;
  height: 100%;
  top: 0;
  background: white;
  z-index: 5;
  //right: 0;
  text-align: center;
  padding-top: 4em;
  overflow-y:scroll;
  overflow-x:hidden;

  -webkit-transition: all 1 ease;
  -moz-transition: all 1 ease;
  -ms-transition: all 1 ease;
  -o-transition: all 1 ease;
  transition: all 1 ease;
  
  &.open {
    right: 0;
  }

  .logo {
    width: 50%;
  }

  .globe {
    border-top: 1px solid $site-main-color;
    border-bottom: 1px solid $site-main-color;
    padding: 2em 0;
    margin: 2em 0;
  }

  .countries,
  .continents {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      cursor: pointer;
    }
  }

  .continents {
    overflow: auto;
  }

  .countries {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    border-top: 1px solid $site-main-color;
    padding-top: 2em;
    margin-top: 2em;

    li {
      display: inline-block;

      .dropdown-title {
        font-size: 1.75em;
      }
    }

    /* Hide Dropdowns by Default */
     ul {
      display: none;
      position: absolute;
      top: 60px;
       width: 100%;
    }

    /* Display Dropdowns on Hover */
     li:hover > ul {
      display:inherit;
       position: absolute;
       top: 30px;
       left: 0;
      maring: 0;
       padding: 0 0 2em;
       z-index: 1000;
    }

    /* Fisrt Tier Dropdown */
     ul li {
      width:100%;
      float:none;
      display:list-item;
       list-style-type: none;
      position: relative;
       font-size: 1.25em;
       padding: .75em .25em .5em;
       background: white;
       text-transform: uppercase;
    }

  }

  .toggle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 35px 35px 0;
    border-color: transparent white transparent transparent;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -25px;
    color: white;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 35px 35px 0;
      border-color: transparent $site-main-color transparent transparent;
      position: relative;
      top: 50%;
      left: -35px;
      margin-top: -25px;
    }
  }
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
